/* Estilos gerais do body */
body {
  background-color: var(--cor-1);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container das barras */
.container_barra {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem; /* Espaçamento entre as barras */
}

/* Estilos da barra individual */
.barra {
  transition: all 5s ease;
  background: var(--linear-gradient);
  animation: pulsar 8s infinite ease-in-out;
}

/* Animação de pulsar */
@keyframes pulsar {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumenta em 10% no meio da animação */
  }
}
