.inicial {
    display: block;
    position: absolute;
    font-family: 'poppins-regular';
    transition: all 0.5s ease;
}

.inicial h1 {
    font-size: 7rem;
    text-align: right;
    position: relative;
    transform: translateX(8rem);
    color: var(--cor-2);
    line-height: 8rem;
}

.inicial h1:after {
    content: '';
    display: block;
    background: var(--linear-gradient);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(4rem);
}

.inicial h1 span {
    font-size: 12rem;
}

.inicial .simular {
    width: 25%;
    height: 20%;
    border-radius: 2rem;
    border: none;
    font-size: clamp(1rem, 1.5dvw, 2rem);
    color: var(--cor-2);
    background: var(--cor-5);
    font-weight: bold;
    position: absolute;
    transform: translateX(70rem) translateY(10rem);
}

@keyframes slideOutLeft {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
  }
  
  @keyframes slideInRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  .inicial.hidden {
    animation: slideOutLeft 0.5s forwards;
    display: none;
  }
  
  /* Estilos da seção container */
  .container {
    display: none;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container.visible {
    display: flex;
    flex-direction: column;
    animation: slideInRight 0.5s forwards;
  }
  